# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build-SinianGIS-Desktop_Qt_5_12_5_MSVC2017_64bit-Release/*
bin/*
References/*
ËØ²Ä.txt
SinianGIS-1.zip
VS2017-X64/*